

<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">İlginizi Çekebilecek İlanlar</h1>
                        <span class="color-text-a">Tüm İlanlar</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Anasayfa</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Tüm İlanlar
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="grid-option">
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    if (item.Status == true)
                    {
                        <div class="col-md-4">
                            <div class="card-box-a card-shadow">
                                <div class="img-box-a">
                                    <img src="/Images/@item.Images" alt="" class="img-a img-fluid">
                                </div>
                                <div class="card-overlay">
                                    <div class="card-overlay-a-content">
                                        <div class="card-header-a">
                                            <h2 class="card-title-a">
                                                <a href="/Home/Details/@item.Id">@item.Name</a>
                                            </h2>
                                        </div>
                                        <div class="card-body-a">
                                            <div class="price-box d-flex">
                                                <span class="price-a">@item.Aim.Name | @item.Price.ToString("C")</span>
                                            </div>
                                            <a href="/Home/Details/@item.Id" class="link-a">
                                                Daha Detaylı İncelemek İçin
                                                <span class="bi bi-chevron-right"></span>
                                            </a>
                                        </div>
                                        <div class="card-footer-a">
                                            <ul class="card-info d-flex justify-content-around">
                                                <li>
                                                    <h4 class="card-info-title">Alan</h4>
                                                    <span>
                                                        @item.Olcu M
                                                        <sup>2</sup>
                                                    </span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">Oda</h4>
                                                    <span>@item.Room</span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">Kategori</h4>
                                                    <span>@item.Categories.Name</span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">İl</h4>
                                                    <span>@item.City</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }


    </section><!-- End Property Grid Single-->

</main><!-- End #main -->